@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html{
    height: 100%;
}
body {
    background-color: #262626;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    height: 100%;
}
h1 {
    font-size: 16px;
    margin: 12px;
}
p {
    font-size: 14px;
}
h4 {
    color : #626262;
}
a {
    text-decoration: none;
}
#content {
    background-color: #ffffff;
    padding: 5%;
    width: 67%;
    min-height: 100%;
    margin: auto;
}
/*Pagination CSS*/
#pagination {
    padding: 20px;
    text-align: center;
}

#pagination a {
    padding: 5px 7px;
    margin: 5px;
}

#pagination .inactive {
    color: #a7a7a7;
}

#pagination .number.inactive {
    border: 1px solid #a7a7a7;
}

#pagination .active {
    color: #00c1e7;
}

#pagination .number.active {
    border: 1px solid #00c1e7;
}
/*Movie*/
.movie-container {
    display: flex; 
    border-bottom: 1px #a7a7a7 solid; 
    padding: 15px 0px;
}
.movie-image {
    width: 17.5%;
}
.movie-description {
    width: 57.5%;
}
.movie-detail {
    width: 25%; 
    position: relative;
}
.movie-detail a {
    color: #1f1f1f;
}
.rating {
    color: #7e7e7e;
}
.star-icon {
    float: left; 
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.movie-image img{
    border-radius: 5px;
     width: 110px;
     height: 150px;
}
.movie-sinopsis {
    color: #7e7e7e; 
    margin: 5px 0px;
}
.detail-icon {
    width: 14px; 
    height: 14px;
}
#search-icon {
    width: 12px;
    height: 12px;
}
/*NAVIGATION*/
.nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 5px 7px -2px rgba(33,33,33,0.15); 
    box-shadow: 0px 5px 7px -2px rgba(33,33,33,0.15);
    background-color: white;
    padding: 15px 0;
    z-index: 1;
}
.nav_content{
    width: 67%;
    margin: auto;
}
.engi {
    float: left;
    display: block;
    margin-right: 20px;
}
.engi b{
    color: #00C1EC;
}
.search-container{
    float: left;
    display: block;
    margin: 0 20px;
    border: 1px solid #c9c9c9;
    padding: 0 5px;
    border-radius: 5px;
    width: 22%;
    min-width:100px;
}
.search-container input{
    border: none;
    width: 80%;
    padding-left: 5px;
}
::placeholder{
    color: grey;
    font-size: 12px;
}
.search-container button{
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: grey;
}
.link a {
    margin-left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.link a:hover{
    color: #c9c9c9;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


@media only screen and (max-width: 600px) {
    #content {
        padding: 100px 10px 100px 10px;
        color: red;
        width: 80%;
    }
    .movie-container {
        display: block;
    }
    .movie-image {
        width: 100%;
        text-align: center;
    }
    .movie-description {
        width: 100%;
    }
    .movie-detail {
        width: 100%;
        display: block;
    }
    .movie-description h3 {
        width: 100%;
        text-align: center;
    }
    /* Navbar */
    .search-container {
        width: 100%;
        padding: 0px;
        margin: 10px 0px;
    }
    .link {
        text-align: center;
    }

}
@media only screen and (min-width: 800px){
    .movie-detail a {
        position: absolute; 
        right: 0px; 
        bottom: 0px;
    }
    body {
        height:100%;
    }
    /* Navbar */
    .engi {
        float: left;
    }
    .search-container {
        float: left;
    }
    .link a {
        float: right;
    }
} 