    @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
    html{
        height: 100%;
    }
    body {
        background-color: #262626;
        margin: 0px;
        height:100%;
        font-family: 'Lato', sans-serif;
    }
    p {
        font-size: 12px;
        color: #d8d8d8;
    }
    a {
        text-decoration: none;
    }
    #history {
        color: white;
    }
    #back {
        width: 50px; 
        height: 50px;
        cursor: pointer;
    }
    #content {
        width: 67%;
        height: 100%;
        background-color: #ffffff;
        margin: auto;
        padding: 100px 5%;
    }
    #film {
        border-bottom: 1px solid #a7a7a7;
        margin-bottom: 20px;
    }
    #screen {
        text-align: center; 
        width: 100%; 
        background-color: #a2a2a2; 
        color: white;
        clear: both;
        padding: 5px 0px;
        border-radius: 5px;
        margin-top: 20px;
    }
    .button {
        background-color: #00e1ec;
        color:white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #summary-title {
        margin-top: 0px; 
        color: #606060;
    }

    #seat-board {
        padding: 0px; 
        display: flex; 
        flex-wrap: wrap; 
        font-size: 12px;
    }

    ul{
      list-style:none;
      margin: 0px;
    }

    ul li{
      float:left;
      padding:1.37%;
      border-bottom:1px solid #000;
      border-right:1px solid #000;
      margin: 0 1.37% 2% 1.37%;
    }

    .movie-summary {
        display: inline-block;
    }

    .movie-title {
        margin: 0px;
    }

    .full {
        color: #a7a7a7;
        border: 1px solid #a7a7a7;
        border-radius: 5px;
        width: 16px;
        height: 16px;
        text-align: center;
        background-color: #f0eeef;
    }

    .empty {
        color: #10bee1;
        border: 1px solid #10bee1;
        border-radius: 5px;
        width: 16px;
        height: 16px;
        text-align: center;
        background-color: #ffffff;
        cursor: pointer;
    }
    .selected {
        color: white;
        border: 1px solid #10bee1;
        border-radius: 5px;
        width: 16px;
        height: 16px;
        text-align: center;
        background-color: #10bee1;
    }
    .row {
      display: flex;
    }

    .seat {
        border-right: 1px solid #a7a7a7; 
        padding-right: 50px; 
    }
    .summary {
        margin-left: 50px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }

    /* Create two equal columns that sits next to each other */
    .column {
      flex: 50%;
      position: relative;
    }

/*NAVIGATION*/
.nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 5px 7px -2px rgba(33,33,33,0.15); 
    box-shadow: 0px 5px 7px -2px rgba(33,33,33,0.15);
    background-color: white;
    padding: 15px 0;
    z-index: 1;
}
.nav_content{
    width: 67%;
    margin: auto;
}
.engi {
    float: left;
    display: block;
    margin-right: 20px;
}
.engi b{
    color: #00C1EC;
}
.search-container{
    float: left;
    display: block;
    margin: 0 20px;
    border: 1px solid #c9c9c9;
    padding: 0 5px;
    border-radius: 5px;
    width: 22%;
    min-width:100px;
}
.search-container input{
    border: none;
    width: 80%;
    padding-left: 5px;
}
::placeholder{
    color: grey;
    font-size: 12px;
}
.search-container button{
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: grey;
}
.link a {
    margin-left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.link a:hover{
    color: #c9c9c9;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
/*Modal*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2.5rem;
    border-radius: 0.5rem;
    text-align: center;
}
.modal-content p {
    color: #000000;
    margin: 30px 0px;
}
.modal-content .button {
    width: 60%;
    margin: auto;
}
#payment-success {
    color: #00e1ec;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

    @media only screen and (min-width: 800px) {
        #buy-button {
            position: absolute;
            bottom: 0;
            right: 0px;
        }
        /* Navbar */
        .engi {
            float: left;
        }
        .search-container {
            float: left;
        }
        .link a {
            float: right;
        }
    }

    @media only screen and (max-width: 600px) {
        .row {
            display: block;
        }
        .column {
            border: none;
            padding: 0px;
            margin: 10px 0px;
        }
        #summary-title {
            text-align: center;
        }
        #textbox {
            height: 50px;
            width: 100%;
        }
        #buy-button {
            margin: auto;
        }    
        ul li{
          float:left;
          padding:0.525%;
          border-bottom:1px solid #000;
          border-right:1px solid #000;
          margin: 0 0.525% 2% 0.525%;
        }
        /* Navbar */
        .search-container {
            width: 100%;
            padding: 0px;
            margin: 10px 0px;
        }
        .link {
            text-align: center;
        }
    }