@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html{
	height: 100%;
}
body {
	background-color: #262626;
	margin: 0px;
	font-family: 'Lato', sans-serif;
    height: 100%;
}
h1 {
	font-size: 16px;
	margin: 12px;
    height: 100%;
}
p {
	font-size: 14px;
}
h4 {
	color : #626262;
}
a {
    text-decoration: none;
}
#content {
	background-color: #ffffff;
	padding: 5%;
	width: 67%;
	min-height: 100%;
	margin: auto;
}
/*Pagination CSS*/
#pagination {
	padding: 20px;
	text-align: center;
}

#pagination a {
    padding: 5px 7px;
    margin: 5px;
}

#pagination .inactive {
	color: #a7a7a7;
}

#pagination .number.inactive {
	border: 1px solid #a7a7a7;
}

#pagination .active {
	color: #00c1e7;
}

#pagination .number.active {
	border: 1px solid #00c1e7;
}
/*NAVIGATION*/
.nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 5px 7px -2px rgba(33,33,33,0.15); 
    box-shadow: 0px 5px 7px -2px rgba(33,33,33,0.15);
    background-color: white;
    padding: 15px 0;
    z-index: 1;
}
.nav_content{
    width: 67%;
    margin: auto;
}
.engi {
    float: left;
    display: block;
    margin-right: 20px;
}
.engi b{
    color: #00C1EC;
}
.search-container{
    float: left;
    display: block;
    margin: 0 20px;
    border: 1px solid #c9c9c9;
    padding: 0 5px;
    border-radius: 5px;
    width: 22%;
    min-width:100px;
}
.search-container input{
    border: none;
    width: 80%;
    padding-left: 5px;
}
::placeholder{
    color: grey;
    font-size: 12px;
}
.search-container button{
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: grey;
}
.link a {
    margin-left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.link a:hover{
    color: #c9c9c9;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*Nama Film*/
#movie-name img {
	width: 18px;
	height: 18px;
}

#user-review-container {
	width: 70%;
	margin: auto;
}

.user-review-column {
	display: flex; 
	padding: 15px 0px;
	width: 100%;
}
.form-label {
	width: 25%;
}
.form {
	margin: 12px 0px 19px 28px;
	width: 75%;
}
#review{
    width: 100%;
    height: 100px;
    border-radius: 6px;
    border: 0.5px solid #a2a2a2;
    resize: none;
}
.rating {
	padding: 0px;
}
/*Star Rating*/
.rating {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #ffc700;    
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/*Submit Cancel Button*/
#submit {
    padding: 10px;
    color: white;
    background-color: #01BFED;
    border: 1px solid #01BFED;
    border-radius: 5px;
    float: right;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
}

#cancel {
    padding: 10px;
    color: #8a8a8a;
    background: white;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    float: right;
    margin-right: 5px;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
	#content {
		padding: 100px 10px 100px 10px;
		color: red;
		width: 80%;
	}
	/* Navbar */
	.search-container {
	    width: 100%;
	    padding: 0px;
	    margin: 10px 0px;
	}
	.link {
		text-align: center;
	}

}
@media only screen and (min-width: 800px){
	body {
		height:100%;
	}
	/* Navbar */
	.engi {
		float: left;
	}
	.search-container {
		float: left;
	}
	.link a {
	    float: right;
	}
} 